<body>

<section>
    <h1 style="text-align: center;"> Sonic</h1>
</section>

<section>
    <h2>Historia</h2>
     <p> Sonic, un erizo antropomórfico azul, llega a la Tierra para escapar de las fuerzas malévolas que buscan aprovechar su poder de súper velocidad. Después de causar accidentalmente un apagón masivo mientras se escondía en la ciudad de Green Hills, Montana, Sonic es el objetivo del gobierno, que luego contrata al tiránico Dr. Robotnik para perseguirlo.</p>
</section>

<section>
    <h2> Motivos por lo que te gusta</h2>
     <ol>
      <li> Historia atrapante</li>
      <li> Basada en el juego Sonic</li>
      <li> Perfecta para ver en familia</li>
     </ol>

<section>
    <h2> Personajes</h2>
     <ol>
      <li> Sonic </li>
      <li> Eggman </li>
      <li> Lord Dona </li>
      <li> Lady Yoga </li>
     </ol>
</section>

<section>
    <h2> Otras Peliculas o series similares</h2>
  
     <h3> Mario </h3>
      <p> Pelicula basada en el juego de Mario, con sus personajes y trama similar.</p>
    
  
     <h3> Cars </h3>
      <p> Pelicua sobre autos animados que viven en un pueblo donde les gustan la carreras </p>
  </section>     
    
  </body>
